# Django production environment variables

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=wosac.silicon4forge.org
DJANGO_CSRF_TRUSTED_ORIGINS=https://wosac.silicon4forge.org

# SQLite path (relative to BASE_DIR) or absolute path.
DJANGO_SQLITE_PATH=db.sqlite3
