# Put this on the server as: /etc/daudi/daudi.env
# chmod 600 /etc/daudi/daudi.env

DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=wosac.silicon4forge.org
DJANGO_CSRF_TRUSTED_ORIGINS=https://wosac.silicon4forge.org
DJANGO_SQLITE_PATH=db.sqlite3

# REQUIRED in production:
DJANGO_SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
